#! /usr/bin/env bash

export HADOOP_HOME="{{ hadoop_install_root }}"
export MESOS_HOME="{{ mesos_install_root }}"
export SPARK_HOME="{{ spark_install_root }}"

export SPARK_LOCAL_IP="{{ hostvars[inventory_hostname]
                                  ['ansible_' + spark_net_interface]
                                  ['ipv4']
                                  ['address'] }}"

export SPARK_CLASSPATH="$( "$HADOOP_HOME/bin/hadoop" classpath )"
export MESOS_NATIVE_JAVA_LIBRARY="$MESOS_HOME/build/src/.libs/libmesos.so"

export SPARK_LOG_DIR="$SPARK_HOME/logs"
export SPARK_PID_DIR="{{ spark_data_root }}/pids"

