
net:
    bindIp: {{ hostvars[inventory_hostname]
                       ["ansible_" + mongodb_net_interface]
                       ["ipv4"]
                       ["address"] }}
   ipv6: {{ mongodb_ipv6|lower }}
   maxIncomingConnections: {{ mongodb_max_connections }}
   port: {{ mongodb_port }}
   wireObjectCheck: {{ mongodb_wire_object_check|lower }}

processManagement:
    fork: false

{% if (is_replica_set|bool) %}
replication:
    {% if mongodb_replica_enable_majority_read != 0 %}
    enableMajorityReadConcern: {{ mongodb_replica_enable_majority_read }}
    {% endif %}
    {% if mongodb_replica_oplog_size != 0 %}
    oplogSizeMB: {{ mongodb_replica_oplog_size }}
    {% endif %}
    replSetName: {{ mongodb_replica_set }}
{% endif %}

{% if ((is_shard_config|bool) or
       (is_shard_data  |bool) or
       (is_shard_router|bool)) %}
sharding:
    {% if not (is_shard_router|bool) %}
    clusterRole: {{ mongodb_sharding_cluster_role }}
    {% endif %}

    {% if (is_shard_router|bool) %}
    configDB: {{ mongodb_configdb_url }}
    {% endif %}
{% endif %}

{% if not (is_shard_router|bool) %}
storage:
    dbPath: {{ mongodb_db }}
    directoryPerDB: true
    {% if mongodb_storage_engine != 0 %}
    engine: {{ mongodb_storage_engine|lower }}
    {% endif %}
    indexBuildRetry: {{ mongodb_index_build_retry|lower }}
    journal:
        commitIntervalMs: {{ mongodb_journal_commit_interval }}
        enabled: {{ mongodb_journal_enabled|lower }}
    {% if mongodb_sync_period != 0 %}
    syncPeriodSecs: {{ mongodb_sync_period}}
    {% endif %}
{% endif %}

systemLog:
    verbosity: {{ mongodb_verbosity }}

