<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<configuration>

<property>
 <name>fs.defaultFS</name>
<value>hdfs://{% for ansible_host in groups[hdfs_namenode_ansible_group] -%}
{%- set ip=(hostvars[ansible_host]
                    ['ansible_' + hdfs_net_interface]
                    ['ipv4']
                    ['address']) %}
{%- if not loop.first %},{% endif %}{{ ip }}:8020
{%- endfor %}</value></property>

<property>
 <name>io.buffer.size</name>
<value>{{ hdfs_io_buffer_size }}</value></property>

</configuration>

