<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<configuration>

<property>
 <name>fs.defaultFS</name>
<value>hdfs://{% for host in groups["hdfs-namenode"] -%}
{%- set ip=(hostvars[host]
                    ['ansible_eth0']
                    ['ipv4']
                    ['address']) %}
{%- if not loop.first %},{% endif %}{{ ip }}:8020
{%- endfor %}</value></property>

<property>
 <name>io.buffer.size</name>
<value>131072</value></property>

</configuration>

