#! /usr/bin/env bash

NODE_NAME="{{ node_name }}"
NODE_RANGE="{{ node_range }}"
NODE_LIST="\
{% for name in node_list %}
{% if not loop.first %}:{% endif %}{{ name }}\
{% endfor %}
"

if [ -n "$NODE_LIST" ] ; then
    _old_ifs="$IFS"
    IFS=':'

    for node in $NODE_LIST ; do
        docker-compose up -d "$node" && sleep 5
    done

    IFS="$_old_ifs"
    unset _old_ifs
fi

if [ -n "$NODE_NAME" ] ; then
    if [ "$(( NODE_RANGE > 0 ))" '=' '1' ] ; then
        for (( index=0; index<NODE_RANGE; ++index )) ; do
            docker-compose up -d "${NODE_NAME}${index}"
        done
    else
        docker-compose up -d "${NODE_NAME}" && sleep 5
    fi
fi

